@mixin font-canada-type-gibson($size: false, $color: false, $weight: false,  $lh: false, $style: false)
    font-family: canada-type-gibson, sans-serif
    @if $size
        font-size: $size
    @if $color
        color: $color
    @if $weight
        font-weight: $weight
    @if $style
        font-style: $style
    @if $lh
        line-height: $lh

    