//Colors
$purple: #1C0551
$blue: #0AD2DF
$pink: #F605FE
$grey: #9582AC
$purple-gradient: linear-gradient(322deg, rgba(69,16,137,1) 0%, rgba(61,6,95,1) 30%, rgba(16,5,77,1) 100%)
$blue-pink-gradient: linear-gradient(80deg, $blue, $pink)
$pink-blue-gradient: linear-gradient(80deg, $pink, $blue)
$top-to-bottom-blue-purple-gradient: linear-gradient(194deg, rgb(10, 210, 223) -10%, rgb(77, 23, 203) 26%)
$top-to-bottom-blue-pink-gradient: linear-gradient(194deg, rgb(252, 0, 255) -10%, rgb(10, 210, 223) 80%)
$top-to-bottom-pink-blue-gradient: linear-gradient(194deg, rgb(10, 210, 223) -10%, rgb(252, 0, 255) 80%)



//Core
$header: 80px
$banner: 58px

// Container  Boundaries
$min-mobileWidth: 305px
$tablet-width: 767px
$max-desktopWidth: 1360px
