@import '../../sass/main.sass'

.LoginPage
  background: $purple-gradient
  min-height: 100vh
  height: 100%
  display: flex
  padding: 20px
  &__form-container
    width: 100%
    max-width: 1440px
    margin: auto
    border: 2px solid $blue
    border-radius: 20px
    padding: 10px
    @media(min-width: 752px)
      padding: 80px
      padding-bottom: 50px
      padding-right: 130px
      display: flex
      justify-content: space-between
  &__cta
    text-align: center
    @media(min-width: 752px)
      width: 40%
  &__title
    height: 120px
    margin-bottom: 10px
    @media(min-width: 752px)
      height: 150px
      margin-bottom: 10px
  &__sub-title
    font-size: 20px
    font-weight: 800
    font-style: italic
    letter-spacing: 1.3px
    margin-bottom: 15px
    @media(min-width: 752px)
      font-size: 35px
  &__text
    margin-bottom: 10px
  .LoginForm
    @media(min-width: 752px)
      width: 55%
