@import '../../sass/main.sass'

.HostSection
  display: flex
  flex-direction: column-reverse
  justify-content: space-evenly
  align-items: center
  min-height: 100vh
  @media(min-width: $tablet-width)
    flex-direction: row
  &__imgContainer
    width: 90%
    display: flex
    justify-content: center
    padding-top: 10px;
    @media(min-width: $tablet-width )
      width: 45%
  &__img
    height: 150px
    // @media(min-width: $tablet-width )
    //   height: 420px
    // @media(min-width: $max-desktopWidth )
    //   height: 610px
      
    animation: float 2s alternate infinite
    animation-timing-function: ease-in-out
      
  &__content
    display: flex
    flex-direction: column
    align-items: center
    @media(min-width: $tablet-width)
      width: 45%
  &__title
    @include font-canada-type-gibson($size: 3.2rem, $weight: 900, $style: italic)
    display: inline-block
    background: $blue-pink-gradient
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    margin: 0
    @media(min-width: $max-desktopWidth)
      font-size: 4.5rem
  &__info
    margin: 25px auto 0
    width: 95%
    padding: 10px
    @include font-canada-type-gibson($size: 1.6rem, $weight: 200, $color: #fff, $lh: 1.3, $style: normal);
    @media(min-width: $tablet-width)
      font-size: 2.0rem
    @media(min-width: $max-desktopWidth)
      font-size: 2.5rem

  &__details
    width: 100%
  &__list
    margin: 10px auto 0
    padding: 0!important
    width: 95%
  &__detail
    list-style: none
    display: flex
    margin-bottom: 20px
    padding: 0  10px   
  &__detailInfo
    display: inline-block
    padding: 0
    margin: 0
    align-self: flex-start
    @include font-canada-type-gibson($size: 1.6rem, $weight: 200, $color: #fff, $lh: 1.3, $style: normal)
    @media(mmin-width: $tablet-width)
      font-size: 2.0rem
    @media(min-width: $max-desktopWidth)
      font-size: 2.5rem
  &__detailInfo span
    font-weight: 900
  &__icon
    margin-right: 10px
    margin-top: 5px
  &__iconImg
    height: 20px
    width: 20px 
